<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='materialize.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>{% block title %}MiAPP{% endblock %}</title>
</head>

<body class="grey lighten-3">
    <!-- Barra de navegación -->
    <nav class="teal darken-3">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">MiApp</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% block navbar_links %}{% endblock %}
            </ul>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container">
        <h1 class="center-align">{% block header %}{% endblock %}</h1>
        {% include "flash_messages.html" %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>