{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block navbar_links %}
    <li><a href="{{ url_for('auth.home') }}">Perfil</a></li>
    <li><a href="{{ url_for('catalog.products') }}">Catálogo</a></li>
    <li><a href="{{ url_for('cart.viewCart') }}"></a></li>
    <li><a href="{{ url_for('cart.viewCart') }}">
        <i class="material-icons">shopping_cart</i>
    </a></li>
    <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
{% endblock %}

{% block header %}Catálogo de Productos{% endblock %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img 
                    class="product-image"
                    src="{{ url_for('static', filename='uploads/'+product.picture) }}" 
                    alt="{{ product.name }}">
                </div>
                <div class="card-content product-content">
                    <span class="card-title">{{ product.name }}</span>
                    <p><strong>Precio:</strong> ${{ product.price }}</p>
                </div>
                <div class="card-action center-align">
                    <form method="post" action="{{ url_for('cart.addToCart', productId=product.id) }}">
                        <button type="submit" class="btn blue">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}