{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block navbar_links %}
    <li><a href="{{ url_for('auth.registro') }}">Registro</a></li>
{% endblock %}

{% block header %}Iniciar Sesión{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-content">
            <form method="post">
                <label for="cui">CUI: </label>
                <input type="number" name="cui" required placeholder="XXXXXXXX" autofocus autocomplete="off">
                <br>
                <label for="password">Contraseña: </label>
                <input type="password" name="password" required minlength="5" maxlength="8" placeholder="*********">
                <br>

                <button class="btn waves-effect waves-light" type="submit" name="action">Ingresar
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {});
        });
    </script>
{% endblock %}
